{% extends "base.html.twig" %}

{% block title %}Mes favoris{% endblock %}

{% block body %}
<div class="container-xl bg-light p-5 border-top">

    <div class="row mb-2">

        <h2 class="text-muted fw-bold mb-4">Ma liste</h2>

        {% include "_flash_messages.html.twig" %}

        {% for movie in app.session.get('favorites') %}

        <div class="col-6">

            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
                <div class="col-4 movie__poster" style="background-image: url({{ movie.poster }});">
                    <img src="images/poster-placeholder.png" class="img-fluid">
                    <!-- img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg" class="img-fluid" -->
                </div>
                <div class="col-8 p-4 d-flex flex-column position-static">
                    
                    {{ include('front/_favorites_button.html.twig') }}
                    
                    <strong class="d-inline-block mb-2 text-primary">Film</strong>
                    <h3 class="mb-1">{{ movie.title }}</h3>
                    <div class="mb-1 text-muted">{{ movie.duration ~ 'min' }}</div>
                    <a href="{{ path('movie_show', {slug: movie.slug}) }}" class="fs-1 mt-3 text-danger align-self-start">
                        <i class="bi bi-arrow-right-square"></i>
                    </a>
                </div>
            </div>

        </div>

        {% endfor %}

    </div>

    <div class="col">
        <form action="{{ path('delete_favorites') }}" method="post">
            {% set favorites = app.session.get('favorites') %}
            <button class="btn btn-danger btn-sm" type="submit"
                onclick="return confirm('Vider votre liste de favoris ?');">
                Vider la liste
            </button>
        </form>
    </div>

</div>

{% endblock %}